body {
    margin: 0px;
    padding-top: 800px;
    text-align: center;
}

#profile {
    width: 200px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    color: #00FFFF;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: table;
    background-color: black;
    width: 100%;
    height: 100%;
}

#Name {
    font-size: 30px;
    font-family: 'Stalinist One', cursive;
}

#bio {
    padding: 50p;
    text-align: center;
    font-size: 30px;
    height: 800px;
    width: 100%;
    background-color: azure;
}

.welcome-inner {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.line {
    height: 6px;
    background-color: blue;
    width: 70px;
    margin: auto;
}

.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links:hover {
    background-color: dodgerblue;
}

.artical:hover {
    background-color: dodgerblue;
}

#App {
    padding: 50p;
    text-align: center;
    width: 100%;
    height: 800px;
    background-color: blue;

}

#Games {
    padding: 50p;
    text-align: center;
    width: 100%;
    height: 800px;
    background-color: antiquewhite;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

html {
    scroll-behavior: smooth;
}

#myCarousel {
    background-color: red;
}
